/* pseudo-classes */
/* Link inicial (antes do clique) */
a:link {
    color: orange;
}
/* Link visitando (após o clique) */
a:visited {
    color: red;
}
/* Link com mouse sobre ele */
a:hover {
    color: green;
}
/* Link ativo (está sendo clicado) */
a:active {
    color: pink;
}