* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media print {
    p {
        color: blueviolet;
        font-size: 30px;
        text-decoration: underline;
    }
}

@media screen {
    p {
        color: red;
        font-size: 40px;
    }
}