h1, h2, p {
    font-family: Arial;
}

h1, h2 {
    text-align: center;
}

p {
    text-align: justify;
    background-color: rgb(188, 188, 188);
}

p.vermelho {
    color: red;
}

/* Classe geral */
.azul {
    color: blue;
}

.verde {
    color: green;
}

.center {
    text-align: center;
}