* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* seções impares: cinza */
section:nth-of-type(odd) {
    background-color: rgb(111, 111, 111);
}

/* seções pares: white */
section:nth-of-type(even) {
    background-color: white;
}

#tecnologias > div > div {
    text-align: center;
    margin: 15px;
    padding: 20px;
    width: 400px;
    background-color: rgb(233, 233, 233);
}

#tecnologias p {
    text-align: justify;
}

#tecnologias h2 {
    margin: 25px 0px 25px 0px;
}

#tecnologias img {
    width: 100px;
}

.container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center; /* Centraliza as divs */
}

.container div {
    border: 3px solid blue;
    border-radius: 10%;
}