* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* seções impares: cinza */
section:nth-of-type(odd) {
    background-color: rgb(162, 162, 162);
}

/* seções pares: white */
section:nth-of-type(even) {
    background-color: white;
}

#tecnologias > div > div {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#tecnologias p {
    text-align: justify;
}

#tecnologias h2 {
    margin: 25px 0px 25px 0px;
}


#tecnologias img {
    width: 100px;
}

#produtos img {
    width: 300px;
}

.container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 1200px;
    justify-content: center;
    /* justify-content: center; Centraliza as divs; */
}

.container > div {
    margin: 20px;
    flex-grow: 1;
}

#produtos > div {
    flex-direction: column;
}

#produtos > div > div {
    display: flex;
}

#produtos > div > div:nth-of-type(odd) {
    flex-direction: row;
}

#produtos > div > div:nth-of-type(even) {
    flex-direction: row-reverse;
}

.texto {
    margin: auto !important;
    color: black;
    padding: 20px 0px;
    margin-bottom: 20px;
    border-bottom: 3px solid red;
    width: 300px;
    text-align: center;
}  