@import url("https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap");

* {
  background-color: rgb(60, 5, 47);
  font-family: "Playwrite NO", cursive;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

header a:link,
a:visited {
  color: white;
  background-color: black;
  text-decoration: none;
}

header a:hover {
  color: black;
  background-color: rgb(222, 176, 255);
  text-decoration: none;
  border-bottom: 4px solid rgb(144, 92, 183);
  padding-top: 20px;
  font-weight: bold;
}

header a:active {
  color: white;
}

header a {
  padding: 30px;
}

header ul,
li {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header ul {
  border-bottom: 3px solid rgb(255, 255, 255);
}

main h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  text-decoration: underline rgb(227, 255, 199);
}

main p {
  color: white;
  margin: 5px;
  text-align: justify;
}

footer p {
  font-family: sans-serif;
  text-align: right;
  padding: 10px;
  padding-right: 40px;
  background-color: black;
  color: white;
}